name: CI Pipeline

on:
  push:
    branches:
      - improvements
      - main
  pull_request:
    branches:
      - main
      - improvements

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Node.js environment
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      # Set up dependencies
      - name: Install dependencies
        run: npm install

      # Run ESLint
      - name: Run ESLint
        run: npm run lint

  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Node.js environment
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      # Set up dependencies
      - name: Install dependencies
        run: npm install

      # Run Puppeteer tests
      - name: Run Puppeteer tests
        run: npm run test-reporter

      - name: Archive Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results

  upload-report:
    runs-on: ubuntu-latest
    needs: test # This ensures it only runs after the 'test' job is complete

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v4

      # Load the test report history
      - name: Load test report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      # Build the Allure report
      - name: Build Allure report
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results

      # Publish the Allure report to GitHub Pages
      - name: Publish test report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
